# Environment
.env
*.env
!.env.example

# Database
*.db
*.db-journal
*.sqlite
*.sqlite3

# Виртуальное окружение
.venv/
venv/
env/
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Кэш и логи
*.log
*.bak
*.tmp
*.swp
__pycashe__/

# Компиляция и билд
build/
dist/
*.egg-info/

# Тестовые артефакты
.coverage
.pytest_cache/
htmlcov/

# Другие временные файлы
*.orig
*.rej
