{% extends 'base.html'%}
{% block crud_container %}

<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Мои книги</h2>
  <a href="/book/create" class="btn btn-success">➕ Добавить книгу</a>
</div>

    <div class="card">
        <table class="table table-striped table-hover">
          <tr>
          <th style="width: 17%;">Автор</th>
          <th style="min-width: 100px;">Название</th>
          <th style="width: 10%;">Жанр</th>
          <th>Описание</th>
          <th>Статус</th>
          <th>Адрес</th>
          </tr>
          {% for item in books_with_status %}
          <tr>
            <td>{{ item.book.author }}</td>
            <td><a href="/book/{{ item.book.id }}">{{ item.book.title }}</a></td>
            <td>{{ item.book.genre }}</td>
            <td>{{ item.book.description }}</td>
            <td>
            <p class="card-text text-dark">
              <span class="badge bg-{{ 'success' if item.read_status == 'read' else 'warning' if item.read_status == 'reading' else 'secondary' }}">
                {{ item.read_status.russian_name }}</span>
            </p>
            </td>
            <td>{{ item.book.lib_address }}</td>
          </tr>
          {% else %}
          <tr><td colspan="6">Нет книг</td></tr>
          {% endfor %}
        </table>
    </div>


{% endblock %}
