{% extends "base.html" %}

{% block crud_container %}
<article class="card container fluid">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h3><strong>Логин: </strong>{{ user.username }}</h3>
                <a href="/user/edit" class="btn btn-success">Изменить профиль</a>
            </div>
            <p><strong>Имя: </strong>{{ user.firstname }}</p>
            <p><strong>Фамилия: </strong>{{ user.lastname }}</p>
            <p><strong>Дата регистрации: </strong>{{ user.created_at.strftime('%Y-%m-%d') }}</p>

        </div>
</article>
{% endblock %}