{% extends "base.html" %}

{% block crud_container %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%;">
    <h3 class="text-center mb-4 text-dark">Регистрация</h3>
    <form action="/user/register" method="post">
         <label for="username" class="form-label">Имя пользователя</label>
         <input type="text" class="form-control" id="username" name="username" required>

         <label for="email" class="form-label">Email</label>
         <input type="email" class="form-control" id="email" name="email" required>

         <label for="password" class="form-label">Пароль</label>
         <input type="password" class="form-control" id="password" name="password" required>
        <br>
         <button type="submit" class="btn btn-success w-100">Создать аккаунт</button>
    </form>
    <div class="text-center mt-3">
        Есть аккаунт? <a href="/user/login" style="color:green">Войти</a>
    </div>
    </div>
</div>
{% endblock %}
