{% extends "base.html" %}

{% block crud_container %}
<h2>🔍 Поиск библиотек</h2>

<form method="get" class="mb-4">
  <br>
  <div class="input-group">
    <input type="text" name="q" class="form-control"
           placeholder="Введите название библиотеки" value="{{ query }}">
    <button type="submit" class="btn btn-success">Искать</button>
  </div>
</form>

{% if libraries %}
  <div class="row">
    {% for lib in libraries %}
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-dark">{{ lib.name }}</h5>
            <p class="card-text text-dark">
              {% if lib.password_hash %}
                🔒 Приватная библиотека
              {% else %}
                🌐 Открытая библиотека
              {% endif %}
            </p>
            <div class="d-flex justify-content-between">
            <a href="/library/{{ lib.id }}/join" class="btn btn-success">
              Присоединиться
            </a>
              <p>id: {{lib.id }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% elif query %}
  <div class="alert alert-secondary">
    Библиотек не найдено. Попробуйте другой запрос.
  </div>
{% endif %}
{% endblock %}